/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[6].rules[0].oneOf[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[6].rules[0].oneOf[0].use[2]!./node_modules/resolve-url-loader/index.js??ruleSet[1].rules[6].rules[1].use[0]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[6].rules[1].use[1]!./src/styles.scss?ngGlobalStyle ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.theme-light {
  --main-background-color: #FFFAFB;
  --text-color: inherit;
  --text-code-color: #FFFAFB;
  --text-code-background: #339989;
  --text-anchor: #339989;
  --logo-fill: #2B2C28;
  --table-border-color: #d3d3d3;
  --nav-active-bg-color: #2B2C28;
  --nav-active-a-color: #FFFAFB;
  --nav-hover-bg-color: #2B2C28;
  --nav-hover-text-color: #FFFAFB;
  --portfolio-view-project-border: rgba(0, 0, 0, 0.2);
  --in-development: #e2e2e2;
  --custom-button-bg-color: #2B2C28;
  --custom-button-text-color: #FFFAFB;
  --custom-button-bg-color-hover: #FFFAFB;
  --custom-button-text-color-hover: #2B2C28;
  --left-border-line-circle-bg-color: rgba(61, 61, 61, 0.4);
  --left-border-line-circle-bg-color-section-odd: rgb(54, 54, 54);
  --left-border-line-circle-bg-color-section-even: rgb(47, 47, 47);
}

.theme-dark {
  --main-background-color: #2B2C28;
  --text-color: #FFFAFB;
  --text-code-color: #2B2C28;
  --text-code-background: #FFFAFB;
  --text-anchor: #7DE2D1;
  --logo-fill: #FFFAFB;
  --table-border-color: #5b5b5b;
  --nav-active-bg-color: #FFFAFB;
  --nav-active-a-color: #32302F;
  --nav-hover-bg-color: #FFFAFB;
  --nav-hover-text-color: #32302F;
  --portfolio-view-project-border: #FFFAFB;
  --in-development: #727272;
  --custom-button-bg-color: #FFFAFB;
  --custom-button-text-color: #2B2C28;
  --custom-button-bg-color-hover: #2B2C28;
  --custom-button-text-color-hover: #FFFAFB;
  --left-border-line-circle-bg-color: rgba(255, 255, 255, 0.4);
  --left-border-line-circle-bg-color-section-odd: rgb(255, 255, 255);
  --left-border-line-circle-bg-color-section-even: rgba(255, 255, 255, 0.4);
}

h1, h2, h3, h4, h5 {
  color: var(--text-color);
  font-family: "Press Start 2P", serif;
  line-height: 2.2rem;
  text-shadow: 3px 3px rgb(61, 173, 155);
}

p, span, table, button {
  color: var(--text-color);
  font-family: "Fragment Mono", monospace;
}

a {
  font-weight: bold;
  color: var(--text-anchor);
  text-decoration: none;
  border-bottom: 3px solid;
}

code {
  background-color: var(--text-code-background);
  border-radius: 5px;
  color: var(--text-code-color);
  padding: 0.15rem 0.6rem;
  font-family: "JetBrains Mono", monospace;
  font-size: 0.8rem;
  margin-left: 5px;
  margin-right: 5px;
}

b {
  font-weight: 700;
}

.two-columns {
  grid-template-columns: auto auto;
}

.three-columns {
  grid-template-columns: auto auto auto;
}

.custom-button {
  background-color: var(--custom-button-bg-color);
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 15px;
  border: 1px solid var(--table-border-color);
  font-size: 12px;
  transition: all 0.2s ease-in-out;
}
.custom-button span {
  color: var(--custom-button-text-color);
  margin-right: 5px;
}
.custom-button fa-icon {
  color: var(--custom-button-text-color);
}
.custom-button:hover {
  background-color: var(--custom-button-bg-color-hover);
}
.custom-button:hover span, .custom-button:hover fa-icon {
  color: var(--custom-button-text-color-hover);
}

.markdown {
  display: block;
  max-width: 100%;
  padding-bottom: 15px;
}
.markdown p {
  font-weight: 100;
  line-height: 25px;
  max-width: 500px;
  margin-bottom: 15px;
}
.markdown p img {
  width: 100%;
  margin: 15px 0;
}
.markdown p a {
  color: #647cff;
  font-weight: bold;
}
.markdown h2 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 15px;
  max-width: 500px;
}

/*# sourceMappingURL=styles.css.map*/