// * Navigation
$main-background-color: #F2E5BB;
$main-background-color-dark: #32302F;

$text-color: inherit;
$text-color-dark: white;

$logo-fill: #32302F;
$logo-fill-dark: white;

$table-border-color: #32302F;
$table-border-color-dark: white;

$nav-active-bg-color: #32302F;
$nav-active-bg-color-dark: white;

$nav-active-a-color: white;
$nav-active-a-color-dark: #32302F;

$nav-hover-bg-color: #32302F;
$nav-hover-bg-color-dark: white;

$nav-hover-text-color: white;
$nav-hover-text-color-dark: #32302F;

$portfolio-view-project-border: rgba(0, 0, 0, .2);
$portfolio-view-project-border-dark: white;

$in-development: #e2e2e2;
$in-development-dark: #727272;

$custom-button-bg-color: #32302F;
$custom-button-bg-color-dark: white;
$custom-button-text-color: white;
$custom-button-text-color-dark: #32302F;
$custom-button-bg-color-hover: white;
$custom-button-bg-color-hover-dark: #32302F;
$custom-button-text-color-hover: #32302F;
$custom-button-text-color-hover-dark: white;

$colors: (
  --main-background-color: ($main-background-color, $main-background-color-dark),
  --text-color: ($text-color, $text-color-dark),
  --logo-fill: ($logo-fill, $logo-fill-dark),
  --table-border-color: ($table-border-color, $table-border-color-dark),
  --nav-active-bg-color: ($nav-active-bg-color, $nav-active-bg-color-dark),
  --nav-active-a-color: ($nav-active-a-color, $nav-active-a-color-dark),
  --nav-hover-bg-color: ($nav-hover-bg-color, $nav-hover-bg-color-dark),
  --nav-hover-text-color: ($nav-hover-text-color, $nav-hover-text-color-dark),
  --portfolio-view-project-border: ($portfolio-view-project-border, $portfolio-view-project-border-dark),
  --in-development: ($in-development, $in-development-dark),
  --custom-button-bg-color: ($custom-button-bg-color, $custom-button-bg-color-dark),
  --custom-button-text-color: ($custom-button-text-color, $custom-button-text-color-dark),
  --custom-button-bg-color-hover: ($custom-button-bg-color-hover, $custom-button-bg-color-hover-dark),
  --custom-button-text-color-hover: ($custom-button-text-color-hover, $custom-button-text-color-hover-dark)
);
