// * Navigation
$main-background-color: #FFFAFB;
$main-background-color-dark: #2B2C28;

$text-color: inherit;
$text-color-dark: #FFFAFB;

$text-code-color: #FFFAFB;
$text-code-color-dark: #2B2C28;
$text-code-background: #339989;
$text-code-background-dark: #FFFAFB;
$text-anchor: #339989;
$text-anchor-dark: #7DE2D1;

$logo-fill: #2B2C28;
$logo-fill-dark: #FFFAFB;

$table-border-color: #2B2C28;
$table-border-color-dark: #FFFAFB;

$nav-active-bg-color: #2B2C28;
$nav-active-bg-color-dark: #FFFAFB;

$nav-active-a-color: #FFFAFB;
$nav-active-a-color-dark: #32302F;

$nav-hover-bg-color: #2B2C28;
$nav-hover-bg-color-dark: #FFFAFB;

$nav-hover-text-color: #FFFAFB;
$nav-hover-text-color-dark: #32302F;

$portfolio-view-project-border: rgba(0, 0, 0, .2);
$portfolio-view-project-border-dark: #FFFAFB;

$in-development: #e2e2e2;
$in-development-dark: #727272;

$custom-button-bg-color: #2B2C28;
$custom-button-bg-color-dark: #FFFAFB;
$custom-button-text-color: #FFFAFB;
$custom-button-text-color-dark: #2B2C28;
$custom-button-bg-color-hover: #FFFAFB;
$custom-button-bg-color-hover-dark: #2B2C28;
$custom-button-text-color-hover: #2B2C28;
$custom-button-text-color-hover-dark: #FFFAFB;

$colors: (
  --main-background-color: ($main-background-color, $main-background-color-dark),
  --text-color: ($text-color, $text-color-dark),
  --text-code-color: ($text-code-color, $text-code-color-dark),
  --text-code-background: ($text-code-background, $text-code-background-dark),
  --text-anchor: ($text-anchor, $text-anchor-dark),
  --logo-fill: ($logo-fill, $logo-fill-dark),
  --table-border-color: ($table-border-color, $table-border-color-dark),
  --nav-active-bg-color: ($nav-active-bg-color, $nav-active-bg-color-dark),
  --nav-active-a-color: ($nav-active-a-color, $nav-active-a-color-dark),
  --nav-hover-bg-color: ($nav-hover-bg-color, $nav-hover-bg-color-dark),
  --nav-hover-text-color: ($nav-hover-text-color, $nav-hover-text-color-dark),
  --portfolio-view-project-border: ($portfolio-view-project-border, $portfolio-view-project-border-dark),
  --in-development: ($in-development, $in-development-dark),
  --custom-button-bg-color: ($custom-button-bg-color, $custom-button-bg-color-dark),
  --custom-button-text-color: ($custom-button-text-color, $custom-button-text-color-dark),
  --custom-button-bg-color-hover: ($custom-button-bg-color-hover, $custom-button-bg-color-hover-dark),
  --custom-button-text-color-hover: ($custom-button-text-color-hover, $custom-button-text-color-hover-dark)
);
